html, body { height: 100%; margin: 0; }
*, *::before, *::after { box-sizing: border-box; }

#app {
    background-color: white;
    height: 100svh;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 64px 1fr;
    gap: 16px;
    padding: 1em;
}

#status-bar {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}
#player-panel { 
    grid-column: 2;
    grid-row: 2;
    min-width: 0;
    min-height: 0;
    background: white;
    padding: 1em;
    border-radius: 8px;
}

#player-board { 
    grid-column: 1;
    grid-row: 1 / -1;
    min-height: 0;
    min-width: 0;
    background: white;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    gap: 1em;
    align-items: center;
}

#miss-board,
#placement-board {
    opacity: 0;
    background-color: lightblue;
    flex: 1;
    min-width: 436px;
    min-height: 436px;
    max-height: 436px;
    transition: opacity 1s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grid-border {
    outline: 1px solid whitesmoke;
}

#miss-board.visible,
#placement-board.visible {
    opacity: 1;
}

.in-shadowed {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 14px;
  border-radius: 6px;
  background: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #3a7ed0;
}

.grid-container div:hover {
  outline: 2px solid #333;
}
