html, body { height: 100%; margin: 0; }
*, *::before, *::after { box-sizing: border-box; }

#app {
    background-color: white;
    height: 100svh;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 64px 1fr;
    gap: 16px;
    padding: 1em;
}

#status-bar {
    grid-column: 1 / -1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#player-board,
#player-panel {
    grid-row: 2;
    min-width: 0;
    min-height: 0;
}

#player-board { 
    grid-column: 1;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#player-panel { 
    grid-column: 2;
    background: white;
    padding: 1em;
}